body {
  width: 50%;
  height: 90vh;
  margin: auto;
  background-color: #8d72e1;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 50%;
  background-color: white;
  border-radius: 20%;
  border: 2px solid #251b37;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  box-shadow: 5px 10px #3a3845;
}

.container h1 {
  color: #251b37;
  font-size: 2.2rem;
  margin-bottom: 10px;
}

.input-text {
  width: 100%;
  height: 40px;
  border: 1px solid #251b37;
  padding: 0;
  border-left-style: none;
  border-right-style: none;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.lists {
  width: 100%;
}

.todo {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgb(192, 192, 192);
  padding-bottom: 2px;
  padding-top: 2px;
  display: flex;
  align-items: center;
}

.check-box {
  border: 1px solid #251b37;
  width: 5%;
  height: 50%;
}

.list-description {
  margin: 0;
  height: 100%;
  width: 82%;
  border: 1px solid rgb(192, 192, 192);
  border-style: none;
}

.list-description:focus {
  outline: none;
}

.check-box:checked + .list-description {
  text-decoration: line-through;
  width: 82%;
  border: none;
  font-style: italic;
}

.fa-solid {
  width: 10%;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.remove-btn {
  background: transparent;
  cursor: pointer;
  width: 90%;
  height: 50px;
  border: 1px solid white;
  border-style: none;
  border-radius: 20px;
  background-color: white;
  color: rgb(192, 192, 192);
  font-size: 16px;
}

.active {
  background-color: lightgray;
  color: white;
  font-weight: bold;
}

.fa-ellipsis-vertical {
  font-size: 16px;
  display: flex;
  justify-content: center;
  width: 10%;
}

.delete-btn {
  background: transparent;
  border: none;
  display: none;
  width: 10%;
  height: 100%;
  cursor: pointer;
  font-weight: bold;
}
